@import "main.scss";
//style sheet for the contact page

.main{
  flex-grow:1;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:stretch;
  padding-bottom: 0!important;
  padding-top: 0!important;
}
nav{
  position: static;
}
body{
  min-height:100vh;
  display: flex;
  flex-direction:column;
}
.account img{
  max-height: 3.2em;
  min-height: 2.7em;
  display: block;
  width: auto;
}
.account h2{
  font-size:1.5em;
  &::after{
    content: none;
  }
}
.account{
  transition-property: background, box-shadow; 
  transition-timing-function:ease;
  transition-duration: 0.5s;
  border-radius:2.7em;
  &:active{
    background-image: radial-gradient(circle at 1.5em 50%, $teal 0, $green 4em,$teal 100%);
    -webkit-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
    -moz-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
    box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);

  }
  &:hover:not(:active){
    background:$black;
      -webkit-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
    -moz-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
    box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
    & h2,p,span{
       background-size: 100%;
   background-color: $teal;
    background-image:linear-gradient(90deg,$green, $teal);
    background-image: webkit-linear-gradient($green, $teal);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
    }
  }
}
.middle *{
  margin:0;
  line-height: 1;
}

.account>a{
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:stretch;
}
.account .end{
  padding-right:0.5em;
}
.account span{
  display: inline-block;
    vertical-align: middle;
    font-size:1.25em;
}
.account>a>*{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle{
  flex-grow: 1;
  padding: 0.15em;
  padding-left: 0.3em;
  padding-right: 0;
  align-items:flex-start;
}
.middle h2{
  padding-bottom: 0.2em;
}
.account p{
    font-size: 0.5em;
  }
@media only screen and (min-width: 345px){
  .account p{
    font-size: 0.6em;
  }
  .account img{
    min-height:2.8em;
  }
}
@media only screen and (min-width: 430px){
  .account p{
    font-size: 0.8em;
  }
  .account img{
    min-height:3em;
  }
}
@media only screen and (min-width: 505px){
  .account p{
    font-size: 1em;
  }
  .account img{
    min-height:3.2em;
  }
}
hr{
  border:0;
  border-top: 4px solid $black;
  border-style:dotted;
  margin:7px 0;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  hr{
    margin:20px 0;
  }
}
@media only screen and (min-width: 768px){
    /* For desktop: */
  hr{
    margin:25px 0;
  }
}