//for consistant colors
$black:#292e1e;
$white:#f7fff7;
$blue:#7BDFF2;
$green:#9cde9f;
$teal:#48a9a6;
$orange:#FF8811;
$red:#ED254E;
//generic setup stuff
*{
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  color:$black;
  font-size:1.5rem;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
// a{//generic link formating
//  text-decoration: none;
//  color: $red;
//  transition: box-shadow ease 0.5s;
//  // background: -webkit-linear-gradient($green, $teal);
//  //  -webkit-background-clip: text;
//  //  -webkit-text-fill-color: transparent;
// }
// a:hover{
//  -webkit-box-shadow: 0px 3px 0px 0px $red;
// -moz-box-shadow: 0px 3px 0px 0px $red;
// box-shadow: 0px 3px 0px 0px $red;
// }

p{
    user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  &::selection{
    background-color:$teal;
    color: $white;
  }
}

nav{
  position: fixed;
  top: 0;
  left:0;
  right:0;
    z-index: 100;
  color: white;
  background-color:transparentize($black,0.15);
  /*background:inherit;*/
  backdrop-filter: blur(7px);
  text-align: right;
}
//allow for drop shaddows
.shadow,nav li.active, a.button:hover, nav li:hover:not(.active):active{
  -webkit-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
-moz-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.66);
}
.shadow-inner{
  -webkit-box-shadow:inset 5px 5px 28px 2px rgba(0,0,0,0.66);
-moz-box-shadow:inset 5px 5px 28px 2px rgba(0,0,0,0.66);
box-shadow:inset 5px 5px 28px 2px rgba(0,0,0,0.66);
}
//consistant padding for containers
.container{
  padding: 0.5em 5%;
}
//style the nav bar
nav img{
  display:block;
  max-height: 1.5em;
  min-height: 1.5em;
  width:auto;
}
  
nav>a{
  left:5%;
  position:absolute;
  top:0.35em;
}
nav ul{
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav li{
  display: inline;
  padding:0.15em 0.25em;
  transition-property: background, box-shadow;
  transition-duration:0.5s;
  transition-timing-function:ease;
  border-radius:0.35em;
}
nav li.active,nav li:active{
  background-image: linear-gradient(to bottom right, $green, $teal);
  padding:0.15em 0.25em;
}

nav li:hover:not(.active):not(:active), .project a:hover:not(:active){
  background-color:$black;
  -webkit-box-shadow: inset 0px 0px 0px 3px $white, 5px 5px 28px 2px rgba(0,0,0,0.66);
  -moz-box-shadow: inset 0px 0px 0px 3px $white, 5px 5px 28px 2px rgba(0,0,0,0.66);
  box-shadow: inset 0px 0px 0px 3px $white, 5px 5px 28px 2px rgba(0,0,0,0.66);
}
nav a{
  text-decoration: none;
  color: $white;
}
nav, .nav-height{
  font-size: 1.3rem;
}
//scale the nav bar and containers for larger devices
@media only screen and (min-width: 600px) {
  /* For tablets: */
  nav, .nav-height{
  font-size: 1.5rem;
}
.container{
  padding: 0.5em 10%;
}
}
@media only screen and (min-width: 768px){
    /* For desktop: */
  nav, .nav-height{
  font-size: 1.8rem;
}
.container{
  padding: 0.5em 20%;
}
nav>a{
  left:20%;
}
}

//custom headings syll with undeline
h1,h2{
  font-family: 'Oswald', sans-serif;
  margin: 0.3em 0;
}
h1{
    font-size:3rem;
}
h2{
    font-size:2.5rem;
}

h1,h2,a.underline{
display:inline-block;
position:relative;
text-decoration:none;

  &::after {
    $height: 0.1em;
    position:absolute;
    content: '';    
    left:0;
    bottom:-$height;
    background-image: linear-gradient(to bottom right, $green, $teal);
    height: $height;
    width: 100%;
  }
}
//parralax separtaor 
.separator{
  height: 5em;
  overflow: hidden;
  position:relative;
}
.separator > .shadow-inner{
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:2;
  left: 0;
  top:0;
}
.separator > .pattern{
    width: 100%;
    z-index:1;
  height: 200%;
  position:absolute;
  left: 0;
  top:0;
  // credit to https://leaverou.github.io/css3patterns/
background:
linear-gradient(45deg, $green 45px, transparent 45px)64px 64px,
linear-gradient(45deg, $green 45px, transparent 45px,transparent 91px, $teal 91px, $teal 135px, transparent 135px),
linear-gradient(-45deg, $green 23px, transparent 23px, transparent 68px,$green 68px,$green 113px,transparent 113px,transparent 158px,$green 158px);
background-color:$teal;
background-size: 128px 128px;
}
//project styling this is used in multiple places
.project{
  color: $white;
  background-color:$black;
  border-radius:0.8em;
  padding:0.8em;
  margin-bottom: 0.8em;
}
.project>*:last-child{
  margin-bottom:0;
}
.project>*:first-child{
  margin-top:0;
}
.project>img{
  max-width: 100%;
  max-height: 80vh;
  min-width: 20vw;
  min-height:4em;
  object-fit: cover;
  display: block;
  width: auto;
  border-radius:0.8em;
  margin: 0.8em auto;
}
.project a{
  text-decoration: none;
  color: $white;
  padding:0.3em;
  background: $black;
  border-radius:  0.2em;
  display:inline-block;
  transition: box-shadow ease 1s;
  margin:0 auto;
  //background-color:darken($black,5);
      -webkit-box-shadow: inset 0px 0px 0px 1px $white;
  -moz-box-shadow: inset 0px 0px 0px 1px $white;
  box-shadow: inset 0px 0px 0px 1px $white;
  &:active{
    background: linear-gradient(to right, $green, $teal);
        -webkit-box-shadow: inset 0px 0px 0px 0px $white;
  -moz-box-shadow: inset 0px 0px 0px 0px $white;
  box-shadow: inset 0px 0px 0px 0px $white;
  }
  &>span{
    display: inline-block;
    vertical-align: middle;
  }
}
//footer styling
footer,.footer-height{
  font-size:1rem;
}
footer, footer>a{
  color:$white;
  background-color:$black;
  text-decoration: none;
}
footer img{
  margin: 0 0.2em;
  display: inline-flex;
  vertical-align: middle;
  max-height:1em;
  width:auto;
}
footer.fixed{
  position:fixed;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 99;
}
a.button{
  $border: 0.2em;
  position: relative;
  padding:$border;
  box-sizing: border-box;
  text-decoration: none;
  color: $white;
  background: $black;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius:  2 * $border;
  display:inline-block;
  transition: box-shadow ease 1s;
  margin:0 auto;
  //background-color:darken($black,5);
  &::before {
    content: '';
    background-color:$white;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, $green, $teal);
  }
  &:active{
    background: linear-gradient(to right, $green, $teal);
    background-clip: padding-box;
  }
  &>span{
    display: inline-block;
    vertical-align: middle;
  }
}