//for consistant colors
$black: #292e1e;
$white: #f7fff7;
$blue: #7bdff2;
$green: #ed254e;
$teal: #ff8811;
$orange: #ff8811;
$red: #ed254e;

@import "main.scss";

.center {
  display: flex;

  flex-direction: row;
  justify-content: center;
}
