html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fff7;
  color: #292e1e;
  font-size: 1.5rem; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(41, 46, 30, 0.85);
  /*background:inherit;*/
  backdrop-filter: blur(7px);
  text-align: right; }

.shadow, nav li.active, li:hover {
  -webkit-box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66); }

.shadow-inner {
  -webkit-box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66); }

.container {
  padding: 0.5em 5%; }

nav img {
  display: block;
  max-height: 1em;
  width: auto; }

nav > a {
  float: left; }

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block; }

nav li {
  display: inline;
  padding: 0.15em 0.25em;
  transition: background 2s ease,box-shadow 2s ease;
  border-radius: 0.35em; }

nav li.active {
  background-image: linear-gradient(to bottom right, #9cde9f, #48a9a6);
  padding: 0.15em 0.25em; }

nav li:hover {
  background-color: #1b1f14; }

nav a {
  text-decoration: none;
  color: inherit; }

nav, .nav-height {
  font-size: 1.3rem;
  z-index: 100; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  nav, .nav-height {
    font-size: 1.5rem; }

  .container {
    padding: 0.5em 10%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  nav, .nav-height {
    font-size: 1.8rem; }

  .container {
    padding: 0.5em 20%; } }
h1, h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0.3em 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h1, h2, a.underline {
  display: inline-block;
  position: relative;
  text-decoration: none; }
  h1::after, h2::after, a.underline::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.1em;
    background-image: linear-gradient(to bottom right, #9cde9f, #48a9a6);
    height: 0.1em;
    width: 100%; }

.separator {
  height: 5em;
  overflow: hidden;
  position: relative; }

.separator > .shadow-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0; }

.separator > .pattern {
  width: 100%;
  z-index: 1;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #9cde9f 45px, transparent 45px) 64px 64px, linear-gradient(45deg, #9cde9f 45px, transparent 45px, transparent 91px, #48a9a6 91px, #48a9a6 135px, transparent 135px), linear-gradient(-45deg, #9cde9f 23px, transparent 23px, transparent 68px, #9cde9f 68px, #9cde9f 113px, transparent 113px, transparent 158px, #9cde9f 158px);
  background-color: #48a9a6;
  background-size: 128px 128px; }

.project {
  color: #f7fff7;
  background-color: #292e1e;
  border-radius: 0.8em;
  padding: 0.8em; }

.project > *:last-child {
  margin-bottom: 0; }

.project > *:first-child {
  margin-top: 0; }

footer, footer > a {
  color: #f7fff7;
  background-color: #292e1e;
  text-decoration: none;
  font-size: 1rem; }

footer img {
  margin: 0 0.2em;
  display: inline-flex;
  vertical-align: middle;
  max-height: 1em;
  width: auto; }

/*# sourceMappingURL=main.css.map */
