@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fff7;
  color: #292e1e;
  font-size: 1.5rem; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(41, 46, 30, 0.85);
  /*background:inherit;*/
  backdrop-filter: blur(7px);
  text-align: right; }

.shadow, nav li.active, a.button:hover, nav li:hover:not(.active):active {
  -webkit-box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 5px 5px 28px 2px rgba(0, 0, 0, 0.66); }

.shadow-inner {
  -webkit-box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  box-shadow: inset 5px 5px 28px 2px rgba(0, 0, 0, 0.66); }

.container {
  padding: 0.5em 5%; }

nav img {
  display: block;
  max-height: 1.5em;
  min-height: 1.5em;
  width: auto; }

nav > a {
  left: 5%;
  position: absolute;
  top: 0.35em; }

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block; }

nav li {
  display: inline;
  padding: 0.15em 0.25em;
  transition-property: background, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 0.35em; }

nav li.active, nav li:active {
  background-image: linear-gradient(to bottom right, #9cde9f, #48a9a6);
  padding: 0.15em 0.25em; }

nav li:hover:not(.active):not(:active) {
  background-color: #1b1f14;
  -webkit-box-shadow: inset 0px 0px 0px 3px #f7fff7, 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: inset 0px 0px 0px 3px #f7fff7, 5px 5px 28px 2px rgba(0, 0, 0, 0.66);
  box-shadow: inset 0px 0px 0px 3px #f7fff7, 5px 5px 28px 2px rgba(0, 0, 0, 0.66); }

nav a {
  text-decoration: none;
  color: #f7fff7; }

nav, .nav-height {
  font-size: 1.3rem;
  z-index: 100; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  nav, .nav-height {
    font-size: 1.5rem; }

  .container {
    padding: 0.5em 10%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  nav, .nav-height {
    font-size: 1.8rem; }

  .container {
    padding: 0.5em 20%; }

  nav > a {
    left: 20%; } }
h1, h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0.3em 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h1, h2, a.underline {
  display: inline-block;
  position: relative;
  text-decoration: none; }
  h1::after, h2::after, a.underline::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.1em;
    background-image: linear-gradient(to bottom right, #9cde9f, #48a9a6);
    height: 0.1em;
    width: 100%; }

.separator {
  height: 5em;
  overflow: hidden;
  position: relative; }

.separator > .shadow-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0; }

.separator > .pattern {
  width: 100%;
  z-index: 1;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #9cde9f 45px, transparent 45px) 64px 64px, linear-gradient(45deg, #9cde9f 45px, transparent 45px, transparent 91px, #48a9a6 91px, #48a9a6 135px, transparent 135px), linear-gradient(-45deg, #9cde9f 23px, transparent 23px, transparent 68px, #9cde9f 68px, #9cde9f 113px, transparent 113px, transparent 158px, #9cde9f 158px);
  background-color: #48a9a6;
  background-size: 128px 128px; }

.project {
  color: #f7fff7;
  background-color: #292e1e;
  border-radius: 0.8em;
  padding: 0.8em;
  margin-bottom: 0.8em; }

.project > *:last-child {
  margin-bottom: 0; }

.project > *:first-child {
  margin-top: 0; }

footer, footer > a {
  color: #f7fff7;
  background-color: #292e1e;
  text-decoration: none;
  font-size: 1rem; }

footer img {
  margin: 0 0.2em;
  display: inline-flex;
  vertical-align: middle;
  max-height: 1em;
  width: auto; }

a.button {
  position: relative;
  padding: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  color: #f7fff7;
  background: #292e1e;
  background-clip: padding-box;
  /* !importanté */
  border: solid 0.2em transparent;
  /* !importanté */
  border-radius: 0.4em;
  display: inline-block;
  transition: box-shadow ease 1s;
  margin: 0 auto;
  background-color: #1b1f14; }
  a.button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -0.2em;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(to right, #9cde9f, #48a9a6); }
  a.button:active {
    background: linear-gradient(to right, #9cde9f, #48a9a6);
    background-clip: padding-box; }
  a.button > span {
    display: inline-block;
    vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
