<!DOCTYPE html>
<html>
<head>
	<title>Create Project</title>

	<style>
		body{
			text-align: center;
		}
		form{
			min-width: 80%;
			max-width: 100%;
			margin: 0 auto;
			display: inline-block;
			text-align: left;
		}
		table{
			display: inline-block;
			/*width: 100%;*/
		}
		td>*{
			width: 100%;
		}
		.section{
			background: white;
			 display: grid;
			 grid-gap: 5px;
 		 	grid-template-columns: 7ch auto 5ch;
 		 	margin-bottom: 5px;
		}
		.section p:first-child{
			grid-column-start: 1;
			grid-column-end: 3;

		}
		.section p{
			margin: 0;
			grid-column-start: 1;
		}
		.section .del{
			grid-column: 3 / span 1;
			grid-row-start:1;
			grid-row-end: 4;
		}
		.section[stype="text"] textarea{
			grid-column: 1 / span 2;
		}
	</style>
</head>
<body>
<h1>Create a project</h1>
<form method="post" enctype="multipart/form-data">
	<table>
		<tbody>
			<tr>
				<td><p>title<p></td><td><input type="text" name="title"/></td>
			</tr>
			<tr>
				<td><p>description:<p></td><td><textarea name="description"></textarea></td>
			</tr>
			<tr>
				<td><p>body</p></td>
				<td>
					<div id="bodyBuilder">
					</div>
					<div id="comp">
						<button type="button">text</button>
						<button type="button">image</button>
						<button type="button">link</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<br/>
</form>
<button type="button" id="send">send</button>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
 <script>
 	$(window).on("load",()=>{
 		$("#comp>button").click((e)=>{

		 		var t = $(e.target).text().toLowerCase();
		 		types= {
		 			"text":
		 			`
		 			<p>text</p>
		 			<textarea></textarea>
		 			`,
		 			 "image":
		 			`
		 			<p>image/gif</p>
		 			<p>file</p><input type="file" name="file" accept="image/*"/>
		 			<p>alt text</p><input type="text" name"alt"/>
		 			`,
		 			"link":
		 			`
		 			<p>link</p>
		 			<p>text</p><input type="text" name="text">
		 			<p>link</p><input type="text" name="link">
		 			`
		 		}
		 		var comp = $("<div></div>").append(types[t]).append(`<button type="button" class="del">del</button>`).attr("stype",t).addClass("section");
		 		$( "#bodyBuilder" ).sortable({
    	  			revert: true
   				 });

		 		comp.draggable({ connectToSortable: "#bodyBuilder",revert: "invalid"});
		 		$("#bodyBuilder").append(comp);
			 	$(".del").click((e)=>{
			 		$(e.target).parent().remove();
			 	});
		 	});
 		$("#send").click(()=>{
 			var data = new FormData(); 
 			data.append("title",$('*[name="title"]').val());
 			data.append("desc", $('*[name="description"]').val());
 			var sections = $("#bodyBuilder>.section");

 			sections.each(function(id){
 				sect = $(this);
 				type = sect.attr("stype");
 				data.append("body["+id+"][type]",sect.attr("stype"));
 				if(type == "text"){
 					data.append("body["+id+"][text]",sect.children("textarea").val());
 				}
 				if(type == "image"){
 					data.append("body["+id+"][text]",sect.children('*[name="text"]').val());

 					data.append("body["+id+"][file]",sect.children('*[type="file"]').prop("files")[0]);
 					//data.append("file",sect.children('*[type="file"]').prop("files")[0]);
 				}
 				if(type == "link"){
 					data.append("body["+id+"][text]",sect.children('*[name="text"]').val());
 					data.append("body["+id+"][link]",sect.children('*[name="link"]').val());
 				}
 			});
 			console.log(data);
 			for (var t of data.values()){console.log(t);}
 			$.ajax({
 				data:data,
 				cache: false,
    contentType: false,
    processData: false,
    method: 'POST',
    type: 'POST'
 			});
 		});
 	});
 </script>
</body>
</html>