@import "../../css/main.scss";

.project h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  &::after {
    content: none;
  }
}
hr {
  position: relative;
}
hr::before {
  content: "";
  display: block;
  background-color: $white;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
hr::after {
  content: "";
  display: block;
  background-color: $black;
  height: 12.5px;
  width: 12.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}


.project .top {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  & > ul.tags {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    & > li {
      font-size: 1.1rem;
      display: block;
      margin: 0;
      padding: 0;
      &::before {
        content: "/";
        margin: 0 0.4ch;
      }
      &:last-child::after {
        content: "/";
        margin: 0 0.4ch;
      }
    }
  }
}

.align-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &>.button{
    max-width: 50%;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    &>.text{
      flex-grow: 1;
      text-align: center;
    }
    
  }
  &>.button:not(:first-child){
    margin-left: 1ch;
  }
}